[build]
  command = "pnpm install && pnpm exec prisma generate && pnpm build"
  publish = "dist/client"
  functions = "dist/server"

[build.environment]
  NODE_VERSION = "22.13.0"
  NPM_FLAGS = "--legacy-peer-deps"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client", "prisma"]
